@model ProyectoFILHA.Models.Entidades.Cliente

<div class="container mt-4">

    <h2 class="mb-4">Crear Cuenta</h2>

    <div class="card shadow p-4">

        <form asp-action="CrearCuenta" method="post">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="row">

                <div class="col-md-6 mb-3">
                    <label>Nombre</label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <div class="col-md-3 mb-3">
                    <label>Fecha de Nacimiento</label>
                    <input asp-for="FecNac" type="date" class="form-control" />
                </div>

                <div class="col-md-3 mb-3">
                    <label>Género</label>
                    <select asp-for="Genero" class="form-select">
                        <option value="">Selecciona</option>
                        <option value="1">Masculino</option>
                        <option value="2">Femenino</option>
                    </select>
                </div>

                <div class="col-md-6 mb-3">
                    <label>Correo</label>
                    <input asp-for="Correo" class="form-control" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label>Teléfono</label>
                    <input asp-for="Telefono" class="form-control" />
                </div>

            </div>

            <div class="mt-3">
                <button type="submit" class="btn btn-success">Registrarse</button>
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>

        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}